[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fitplc"]
	path = fitplc
	url = https://github.com/remkoduursma/fitplc
	shallow = true
	registered = true
[submodule "lgrdata"]
	path = lgrdata
	url = https://github.com/remkoduursma/lgrdata
	shallow = true
	registered = true
[submodule "Maeswrap"]
	path = Maeswrap
	url = https://github.com/remkoduursma/maeswrap
	shallow = true
	registered = true
[submodule "nlshelper"]
	path = nlshelper
	url = https://github.com/remkoduursma/nlshelper
	shallow = true
	registered = true
