[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Maeswrap"]
	path = Maeswrap
	url = https://github.com/remkoduursma/maeswrap
[submodule "fitplc"]
	path = fitplc
	url = https://bitbucket.org/remkoduursma/fitplc
[submodule "lgrdata"]
	path = lgrdata
	url = https://github.com/remkoduursma/lgrdata
[submodule "plantecophys"]
	path = plantecophys
	url = https://bitbucket.org/remkoduursma/plantecophys
[submodule "smatr"]
	path = smatr
	url = https://github.com/cran/smatr
